//PEN HEADER
header.header
  h1.header__title Fancy Navigation
  .header__subtitle (click burger icons and hover links then)
  .header__btns.btns
    a.header__btn.btn(
      href="https://github.com/nat-davydova/fancy-navigation",
      title="Check on Github",
      target="_blank"
    ) Check on Github

//PEN CONTENT
nav.main-nav
  .container
    .main-nav__inner
      // logo block
      a.logo(href="#", title="Our Nice Logo") L

      //nav open button
      button.main-nav__open-btn.toggler-open(type="Button", title="Open Menu")
        .toggler-open__bar
        .toggler-open__bar
        .toggler-open__bar

      //nav expandable area
      .main-nav__expandable
